<div class="multiplatform">
  <svg class="laptop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M128 32C92.7 32 64 60.7 64 96l0 256 64 0 0-256 384 0 0 256 64 0 0-256c0-35.3-28.7-64-64-64L128 32zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480l486.4 0c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2L19.2 384z"/></svg>
  <svg class="desktop" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M64 0C28.7 0 0 28.7 0 64L0 352c0 35.3 28.7 64 64 64l176 0-10.7 32L160 448c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-69.3 0L336 416l176 0c35.3 0 64-28.7 64-64l0-288c0-35.3-28.7-64-64-64L64 0zM512 64l0 224L64 288 64 64l448 0z"/></svg>
  <svg class="phone" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64L80 64l0 320 224 0 0-320z"/></svg>
</div>

<style>
  .multiplatform {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3em;
    padding: 3em;
  }

  .phone { width: 100px }

  svg {
    margin-inline: auto;
    width: 160px;
    fill: currentColor;
  }

  @media (width <= 950px) {
    .multiplatform {
      grid-template-columns: repeat(2, 1fr);
    }

    svg:last-child {
      grid-column: span 2;
    }
  }

  @media (width <= 520px) {
    svg { width: 110px }
    .phone { width: 75px }
  }

  @media (width <= 380px) {
    svg { width: 80px }
    .phone { width: 55px }
  }
</style>